{% if error_msg %}
<div class='error_msg'>
  {{ error_msg }}
</div>
{% endif %}
<div class="login">
  <h1>Login</h1>
    <form method="get" action="/login">
      <input type="text" name="username" placeholder="Username" required="required" />
      <input type="password" name="password" placeholder="Password" required="required" />
      <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
    </form>
</div>